body{
    background-color : rgb(230, 237, 240);
    margin :0;
    font-family: 'Ubuntu', sans-serif;

}

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-height:40px;
    background-color:#026aa7;
    margin : 0;
    padding :0;
}

#logo{
    width: 100px;
    height :30px
}

#buttons-container{
    display: flex;
    justify-content: flex-start;
}

#board-button h3{
    margin:0;
    padding:0;
}

header h3:not(#board-button h3){
    margin :0;
    padding : 0;
    font-size : 30px;
}

button{
    height : 35px;
    display: flex;
    align-items: center;
}

.section-container{
    margin: 50px;   
    width: 90%;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

#nav-bar{
    margin :10px;
}

#nav-bar li{
    list-style-type: none;    
    padding: 5px 50px;
    margin :10px;  
    font-weight: 700;    
    background-color: #cddee7;
}

#home-option{
    cursor: pointer;
}

#board-option{
    border: 3px solid #63b6e6;
    cursor: pointer;
}

.board-display{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-direction: column;    
    margin : 30px;    
}

#boards-container{
    display:flex;   
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width :100%;
    flex-wrap: wrap;
}

#create-board{
    width: 250px;
    height:150px;
    background-color:#75b2d6;
    margin :30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : white;
}

#boards-wrapper{   
    display:flex;    
    justify-content: space-around;
    align-content: space-around;
    align-items: center;    
    flex-wrap: wrap;   
    min-width: 600px;   
    /* max-width: 800px;  */
}

#newly-created-board{   
    width: 250px;
    height:150px;      
    margin :30px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: inset 0 0 150px rgb(83, 80, 80);
    cursor: pointer;
}

#newly-created-board:hover{
    box-shadow: inset 0 0 150px rgb(49, 45, 45);
}

#newly-created-board h2{
    color : white;
    margin: 10px 10px;   
}

#feeds{
    min-width: 200px;
}

#lists-wrapper{
    width:100%;
    display: none;
    justify-content: flex-start;  
}

@media only screen and (max-width: 1025px) {
    #boards-wrapper{
        width: 100%;
        min-width: 400px;
    }
    #newly-created-board{
        width: 230px;
        height :120px;
        margin: 10px;
    }
    #create-board{
        width: 230px;
        height :120px;
        margin: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #nav-bar{
        display: none;
    }
    #newly-created-board{
        width: 160px;
        height :120px;
        margin: 10px;
    }
    #create-board{
        width: 180px;
        height: 120px;
    }
    .section-container{
        width:100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    #boards-container{
        width:100%;
    }
    #boards-wrapper{
        width: 100%;
        min-width: 360px;
    }
} 
