body {
  background-color: rgb(230, 237, 240);
  margin: 0;
  /* background-image: url("../images/1.jpg"); */
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 0.8; */
  margin: 0;
  padding: 0;
}

header button{
  background-color: rgba(180, 174, 174, 0.5);
  color: white;
  border: none;
  margin: 3px;
  border-radius: 5px;
}

#logo {
  width: 100px;
  height: 30px;
}

#buttons-container {
  display: flex;
  justify-content: flex-start;
}

#board-button h3 {
  margin: 0;
  padding: 0;
}

header h3:not(#board-button h3) {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

button {
  height: 35px;
  display: flex;
  align-items: center;
}

.section-container {
  margin: 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.board-display {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

#boards-container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin :20px; */
}

#create-board {
  width: 220px;
  height: 150px;
  background-color: #026aa7;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boards-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  /* flex-wrap: wrap;    */
  min-width: 600px;
}

#newly-created-board {
  color: white;
  width: 250px;
  height: 150px;
  background-color: #026aa7;
  opacity: 0.2;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#newly-created-board h2 {
  margin: 10px 10px;
}

#feeds {
  min-width: 200px;
}

#lists-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  min-height: 95vh;
}

#newly-created-list {
  max-width: 320px;
  min-width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #ebecf0;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 10px 0px;
}

#newly-created-card {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 5px 10px;
  /* flex-wrap: wrap; */
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: 0px 0px 5px grey;
  position: relative;
}

#newly-created-card p {
  width: 90%;
  font-size: 14px;
}

#add-list {
  opacity: 0.8;
}

#card-display-container{
  width: 100vw;
  height : 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top:0;
  background-color:rgba(0, 0, 0, 0.3);
  overflow: auto;
}

#card-page {
  display: flex;
  width: 600px;
  /* height: 100%; */
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #f4f5f7;
  /* box-shadow: 0px 0px 10px 2px grey; */
  justify-content: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  padding: 25px 50px;
  overflow-y: auto;
  border-radius: 10px;
}

#card-page #page-close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: rgb(241, 53, 53);
  font-size: 20px;
  border: none;
}

#desc-textarea{
  width :500px;
}

#card-desc-text{
  width: 500px;
  word-break: break-word;
  white-space: pre-wrap;
  /* line-height: 20px; */
}

#card-title {
  font-size: 16px;
  width: 400px;
}

#add-card-wrapper {
  display: flex;
  justify-content: space-between;
}

#text-box {
  width: 200px;
}

#add-card-button {
  color: rgb(116, 219, 57);
  font-size: 20px;
}

#delete-card-button {
  background-color: rgb(248, 94, 94);
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: none;
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 12px;
  text-align: left;
}

#newly-created-card:hover #delete-card-button{
    display: block;
}

#checkItem-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
}

#checkItem-wrapper p {
  font-size: 14px;
  width: 370px;
}

#checkItems-checkBox {
  margin-right: 30px;
}

#add-list-button {
  width: 120px;
  height: 45px;
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: rgb(89, 185, 89);
  color: white;
  border: none;
  border-radius: 5px;
}

#add-item-button {
  width: 80px;
  height: 40px;
  background-color: rgb(217, 240, 247);
  border-radius: 5px;
  border: none;
  color: rgb(109, 102, 102);
  text-align: center;
  margin: 20px 0px;
}

#new-list {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 220px;
  height: 150px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 20px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
}

#create-new-list-button {
  width: 80px;
  height: 40px;
  background-color: rgb(89, 185, 89);
  border: none;
  border-radius: 5px;
}

#create-list-close-button {
  background-color: rgb(230, 115, 115);
  color: white;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 18px;
}

#delete-list-button {
  background-color: rgb(238, 122, 122);
  color: white;
  font-weight: 700;
  width: 60px;
  height: 30px;
  position: relative;
  top: 20px;
  left: 450px;
  border: none;
  border-radius: 5px;
}

#checklist-wrapper {
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0px 20px;
}

#checklist-wrapper h3 {
  margin: 0;
  font-size: 16px;
}

#button-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}

#add-button {
  background-color: rgb(72, 201, 72);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0px 10px;
}

#close-button {
  width: 30px;
  border-radius: 5px;
}

#delete-checkItem-button {
  width: 40px;
  height: 30px;
  background-color: rgb(224, 103, 103);
  color: white;
  display: none;
  position: relative;  
  left: 30px;
  border: none;
  border-radius: 5px;
}

#checkItem-wrapper:hover #delete-checkItem-button {
    display: block;
}