body{
    background-color : rgb(230, 237, 240);
    margin :0;
}

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-height:40px;
    background-color:#026aa7;
    margin : 0;
    padding :0;
}

#logo{
    width: 100px;
    height :30px
}

#buttons-container{
    display: flex;
    justify-content: flex-start;

}

#board-buttonh3{
    margin:0;
    padding:0;
}

header h3:not(#board-button h3){
    margin :0;
    padding : 0;
    font-size : 30px;
}

button{
    height : 35px;
    display: flex;
    align-items: center;
}

.section-container{
    margin: 50px;   
    display: flex;
    justify-content: space-around;
}

#nav-bar li{
    list-style-type: none;    
    padding: 5px 50px;
    margin :10px;  
    font-weight: 700;    
    background-color: #cddee7;
}

#home-option{
    background-color:#cddee7;
    border: 3px solid #63b6e6;
}


.board-display{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-direction: column;    
    margin : 30px;    
}

#boards-container{
    display:none;   
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#create-board{
    width: 220px;
    height:150px;
    background-color:#026aa7;
    margin :30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boards-wrapper{   
    display:flex;    
    justify-content: space-around;
    align-content: space-around;
    align-items: center;    
    flex-wrap: wrap;   
    min-width: 600px;    
}

#newly-created-board{
    width: 220px;
    height:150px;
    background-color:#026aa7;
    margin :30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feeds{
    min-width: 200px;
}

#lists-wrapper{
    width:100%;
    display: none;
    justify-content: flex-start;
}

#newly-created-list{
    width:300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color:#ebecf0;
    margin :0px 10px;
    border-radius: 5px;
}

#newly-created-card{
    width: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin:5px 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    word-wrap:break-word;
    box-shadow: 0px 0px 5px grey;
}

#newly-created-card p{ 
    width:270px;
    margin:10px;    
}

#add-list{
    opacity: 0.8;
}